<h3>Olá {{name}},</h3>


<p>Por favor ative seu cadastro, confirmando seu e-mail ao clicar no link abaixo.</p>


<h5><a href="{{link}}">{{link}}</a></h5>

<hr>
<small>
  Att,
  Equipe Future Soluções
</small>

